@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;

}

body {
  background:url(../public/images/blue-hd-1920-x-1080-background-blhilhybna0agsjy.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}



img {
  width: 9.375em;
  height: 9.375em;
  border-radius: .5em;
}



.hide {
  
  overflow: hidden;
  max-height: 0;
  transition:all 1.5S ease-in-out;
  background-color:rgb(165, 199, 209);
  border-radius: 1em;
  color: rgb(165, 199, 209);
  margin-top: 1em;
  font-size: x-small;
  margin-bottom: 3em;
  
}

.show {
 
  max-height: 1200px; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  background-color: #0051ff;
  color: #a5c7d1;
  font-size: x-small;
  border-radius: 1em;
  margin-top: 1em;
  transition: all 2s ease-in-out;
  margin-bottom: 3em;
  text-align: center;
  
 
}





.adicionado{
  width: 50%;
  background-color: rgb(144, 238, 144, .4);
  height: 3em;
  font-size: xx-large;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color:#0051ff;
  opacity: 0.8;
  margin: 1em 6.5em;
  position: fixed;
  border-radius: .5em;
  overflow: hidden;
  z-index: 1;
}
.cardd{
  height: 22em;
}

.card-title {
  max-width:100%;
  max-height: 3em;
  text-align: center;
  overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.p-cart{
  max-width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.card-text{
  max-width:100%;
  text-align: center;
  overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

.cart-container button{
  border: none;
  background-color: black;
  color: white;
  width: 1em;
  border-radius: 50%;
}

@media screen and (max-width:465px) {
  header{
    flex-direction: column;
  }

}
@media screen and (max-width:780px) {
  .cart-container .btn{
    height: .4em;
    width: .4em;
  }
  .cart-container{
    flex-direction: column;
  }
  img{
    height: 200px;
    width: 7em;
  }
}

@media screen and (max-width:375px) {
  .adicionado{ 
    width: 100%;
    margin-left: -.3em;

  }
  img{
    height: 200px;
    width: 7em;
  }
}